CompileFlags:
  CompilationDatabase: ".vscode"
  Add:
    # See: https://github.com/llvm/llvm-project/pull/160030/changes
    - "/std:c++latest"

    - "-Wno-c++14-extensions"
    - "-Wno-c++17-extensions"

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
        #
        bugprone-*,
        cert-*,
        modernize-*,
        performance-*,

        misc-*,
        clang-diagnostic-*,
        clang-analyzer-*,
        cppcoreguidelines-*,
      ]
    Remove: [
        #
        bugprone-easily-swappable-parameters,
        cppcoreguidelines-avoid-c-arrays,
        cppcoreguidelines-avoid-do-while,
        cppcoreguidelines-avoid-magic-numbers,
        cppcoreguidelines-avoid-non-const-global-variables,
        cppcoreguidelines-narrowing-conversions, # duplicated bugprone lint
        cppcoreguidelines-owning-memory, # In Skyrim, there are times when a memory leak is necessary.
        cppcoreguidelines-pro-type-reinterpret-cast,
        cppcoreguidelines-pro-type-vararg,
        misc-no-recursion,
        misc-non-private-member-variables-in-classes,
        modernize-use-trailing-return-type,
        performance-enum-size,
      ]
